<div class="m-login-header">Report Issue</div>
<h4>If this is an emergency, please contact ELIXYS Support at: 1-(714)-679-2820</h4>

<div class="m-contact-form">
    <div data-bind="template: {name: 'issue-template', data: issue}"></div>

    <div class="attachment-container" data-bind="with: issue">
        <div class="validation-error" data-bind="text: record.errors.pleaseAttach()"></div>
        <div data-bind="if: attachments().length > 0">
            <div data-bind="foreach: attachments">
                <div class="attachment-box">
                    <span class="attachment-box__text attachment-box__text--label">Image:</span>
                    <span class="attachment-box__text" data-bind="text: name"></span>
                    <span class="attachment-box__text attachment-box__text--clear" data-bind="click: $parent.deleteImageAttachment.bind($data, $index())">X</span>
                </div>
            </div>
        </div>


        <div data-bind="if: fileAttachments().length > 0">
            <div data-bind="foreach: fileAttachments">
                <div class="attachment-box" >
                    <span class="attachment-box__text attachment-box__text--label">Attachment:</span>
                    <span class="attachment-box__text" data-bind="text: name"></span>
                    <span class="attachment-box__text attachment-box__text--clear" data-bind="click: $parent.deleteFileAttachment.bind($data, $index())">X</span>
                </div>
            </div>
        </div>
    </div>

    <span data-bind="with: issue">
        <label style="margin: 10px 10px 0 0;" data-bind="attr:{'for': 'issueImage'}">
            <span style="cursor: pointer;" class="photo_icon"></span>
        </label>

        <label style="margin-top: 10px;" data-bind="attr:{'for': 'issueAttachment'}">
            <span style="cursor: pointer;" class="attachment_icon"></span>
        </label>



        <span style="display: none;">
            <input id='issueImage' type="file" accept="image/*" data-bind="event: {change: attachImage.bind($data, $element.files[0])}"/>
            <input id="issueAttachment" type="file" data-bind="event: {change: attachFile.bind($data, $element.files[0])}"/>
        </span>
    </span>

</div>