{% extends "application.html" %}
{% block content_body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3 sidebar-padding">
            <div class="card">
                <div class="card-header bg-secondary text-center">
                    <h5 class="mb-0 text-white">Quick links</h5>
                </div>
                <ul class="list-group text-center list-group-flush">
                    <li class="list-group-item lh-condensed">
                            <a href=""><i class="fas fa-vial"></i> My Probes</a>
                    </li>
                    <li class="list-group-item lh-condensed"><a href=""><i class="fas fa-bars"></i> My Sequences</a></li>
                    <li class="list-group-item lh-condensed"><a href=""><i class="fas fa-user"></i> My Profile</a></li>
                </ul>
            </div>
        </div>
        <div class="col-6 page-contents">
            <h5 class="text-center mt-3">Sequence Details </h5>
            <div class="card p-3 mt-3">
                <div class="row border-bottom pb-3">
                    <div class="col-5"><img src="/probe/{{ sequence.MoleculeID }}/image" alt="" class="img-fluid bg-light"></div>
                    <div class="col-7">
                        <h5 class="text-left mt-2">{{ sequence.Name }}</h5>
                        <p>{{ sequence.Comment }}</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="text-left col-6">
                        <a href="/account/{{ sequence.AccountID }}">
                            <img src="/account/{{ sequence.AccountID }}/logo" alt="" class="avatar-small img-fluid rounded-circle"><span class="pl-3 align-middle pl-3 pt-1">{{ sequence.AccountName }}</span>
                        </a>
                    </div>
                    <div class="col-6 text-right align-self-end">
                        <button class="btn btn-link" data-toggle="modal" data-target="#sequenceContactModal"><i class="far fa-envelope-open"></i>  Contact</button>
                    </div>
                </div>
            </div>
            <div class="card mt-3 mb-3 p-3">
                <div class="row">
                    <div class="dropdown col-3">
                      <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sequence Options
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/sequence/{{ sequence.SequenceID }}/edit/">Edit sequence details</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteSequenceModal">Delete sequence</a>
                      </div>
                    </div>
                    <div class="text-right col-9">
                        <a href="/sequence/{{ sequence.SequenceID }}/export" class="ml-2"><button class="btn btn-link"><i class="far fa-arrow-alt-circle-down"></i> Download</button></a>
                        <!-- if reaction scheme exists -->
                        {% if reaction_scheme %}
                        <a href="/sequence/{{ sequence.SequenceID }}/reaction_scheme"><button class="btn btn-link"><i class="far fa-eye"></i> View Reaction Scheme</button></a>
                        {% endif %}
                        {% if follower != None %}
                        <button type="button" class="btn btn-primary" data-seq="{{ sequence.ID }}" id="follow-sequence">Unfollow</button>
                        {% else %}
                        <button type="button" class="btn btn-primary" data-seq="{{ sequence.ID }}" id="follow-sequence">Follow</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if public_sequences|length > 0 %}
            <div class="divider_title col-sm-12">
                <span>Sequences available for download</span>
            </div>
            <div class="card-columns column-count-2 mb-3">
                {% for sequence in public_sequences %}
                <div class="card text-center">
                  <div class="card-body">
                    <a href="/sequence/{{ sequence.SequenceID }}"><h5 class="card-title">{{ sequence.Name }}</h5></a>
                    <p>{{ sequence.Comment }}</p>
                    <div class="dropdown-divider"></div>
                    <div>
                        <span>Label: {{ sequence.Yield }} {% if sequence.Yield != None and sequence.YieldStandardDeviation %} ± {{ sequence.YieldStandardDeviation }} {% endif %}</span>
                    </div>
                    <div>
                        <span>Synthesis Time: {{ sequence.SynthesisTime }}{% if sequence.SynthesisTime != None and sequence.SynthesisTimeStandardDeviation %} ± {{ sequence.SynthesisTimeStandardDeviation }} {% endif %}</span>
                        minutes
                    </div>
                    <div><span># Cassettes: {{ sequence.NumberOfSteps }}</span></div>
                    <div><span>Purification: {{ sequence.PurificationMethod }}</span></div>
                    <div><span>Module: {{ sequence.SynthesisModule }}</span></div>
                  </div>
                  <div class="card-footer">
                    <div class="sequence-card-footer">
                        <a href="/account/{{ sequence.AccountID }}">
                            <img src="/account/{{ sequence.AccountID }}/logo" alt="" class="avatar-small img-fluid rounded-circle"><span class="pl-3 ml-3">{{ sequence.AccountName }}</span>
                        </a>
                    </div>
                  </div>
                </div>
        
                {% endfor %}
            </div>
            {% endif %}
            <div class="card-columns column-count-2">
                {% for sequence in private_sequences %}
                <div class="card text-center">
                  <div class="card-body">
                    <a href="/sequence/{{ sequence.SequenceID }}"><h5 class="card-title">{{ sequence.Name }}</h5></a>
                    <p>{% if sequence.Comment != None %}  {{ sequence.Comment }} {% endif %}</p>
                    <div class="dropdown-divider"></div>
                    <div>
                        <span>Label: {{ sequence.Yield }} {% if sequence.Yield != None and sequence.YieldStandardDeviation %} ± {{ sequence.YieldStandardDeviation }} {% endif %}</span>
                    </div>
                    <div>
                        <span>Synthesis Time: {{ sequence.SynthesisTime }}{% if sequence.SynthesisTime != None and sequence.SynthesisTimeStandardDeviation %} ± {{ sequence.SynthesisTimeStandardDeviation }} {% endif %}</span>
                        minutes
                    </div>
                    <div><span># Cassettes: {{ sequence.NumberOfSteps }}</span></div>
                    <div><span>Purification: {{ sequence.PurificationMethod }}</span></div>
                    <div><span>Module: {{ sequence.SynthesisModule }}</span></div>
                  </div>
                  <div class="card-footer">
                    <div class="sequence-card-footer text-center">
                        <a href="/account/{{ sequence.AccountID }}">
                            <img src="/account/{{ sequence.AccountID }}/logo" alt="" class="avatar-small img-fluid rounded-circle"><span class="pl-3 ml-3">{{ sequence.AccountName }}</span>
                        </a>
                    </div>
                  </div>
                    
                </div>
                

                {% endfor %}
            </div>

            <!-- comments -->
            <div class="accordion" id="sequence-comments">
              <div class="card">
                <div class="card-header" id="sequence-comment-1">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Comments
                    </button>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="sequence-comment-1" data-parent="#sequence-comments">
                  <div class="card-body">
                    {% for comment in comments %}
                    <div id="comment-card-body">
                        <div class="card mb-3">
                            <div class="card-body" id="comment-card-body-{{ loop.index }}">
                                {% if comment.RenderType != 'attachment' %}
                                {{ comment.Message|safe }}
                                {% else %}
                                <script>
                                    var attachment = jQuery.parseJSON('{{ comment.Message|safe }}');
                                    $('#comment-card-body-{{ loop.index }}').html("<a href='"+attachment.url+"' >"+attachment.name+"</a>")
                                    console.log(attachment);
                                </script>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-8">
                                    <img src="/user/{{ comment.UserID }}/avatar" class="avatar-small img-fluid rounded-circle" alt="">
                                    <b>{{ comment.username }}</b>
                                    </div>
                                    <div class="col-4 text-right">
                                        {{ comment.CreationDate }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="border-bottom"></div>
                    <div class="form-group mt-3 text-right">
                        <textarea name="comment" id="new-comment" class="form-control" rows="3" placeholder="Type your comment here"></textarea>
                        <button class="btn btn-outline-primary mt-3" id="post-comment-button">Post comment</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- right side sidebar -->
        <div class="col-3 sidebar-padding" id="sequence-right-sidebar">
            <div class="card text-center">
                <div class="card-header bg-secondary text-center">
                    <h5 class="mb-0 text-white">Info</h5>
                </div>
                <ul class="list-group text-center list-group-flush">
                    <li class="list-group-item lh-condensed">
                        <b>Starting Activity:</b>
                       <div> {{ sequence.StartingActivity }}</div>
                    </li>
                    <li class="list-group-item lh-condensed">
                        <b>Yield:</b>
                        <div> {{ sequence.Yield }} {% if sequence.YieldStandardDeviation != None %}± {{ sequence.YieldStandardDeviation }}  {% endif %}</div>
                    </li>
                    <li class="list-group-item lh-condensed">
                        <b>Number of Cassettes:</b>
                        <div>{{ sequence.NumberOfSteps }}</div>
                    </li>
                    <li class="list-group-item lh-condensed">
                        <b>Purification Method:</b>
                        <div>{{ sequence.PurificationMethod }}</div>
                    </li>
                    <li class="list-group-item lh-condensed">
                        <b>Synthesis Time:</b>
                        <div>{{ sequence.SynthesisTime }}</div>
                    </li>
                </ul>
            </div>            
            <div class="card text-center mt-3">
                <div class="card-header bg-secondary text-center">
                    <h5 class="mb-0 text-white">Reagents</h5>
                </div>
                <ul class="list-group text-left list-group-flush">
                    <li class="list-group-item lh-condensed">
                        {% for reagent in reagents %}
                       <div> {{ reagent }}</div>
                       {% endfor %}
                    </li>
                </ul>
            </div>
        </div>

    </div><!-- end of row -->
</div>
<!-- Modal -->
<div class="modal fade" id="deleteSequenceModal" tabindex="-1" role="dialog" aria-labelledby="deleteSequenceModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center mt-3">
        <h5 class="text-danger">Are you sure you want to delete {{ molecule.DisplayFormat|safe }}</h5>
        <p class="text-danger">NOTE: This action cannot be undone</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-danger" data-mol="{{ molecule.ID }}" id="delete-sequence-button">Delete sequence</button>
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- Contact modal -->
<div class="modal fade" id="sequenceContactModal" tabindex="-1" role="dialog" aria-labelledby="sequenceContactModalL" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sequenceContactModalL">{% if sequence.UserID %}Contact {{ sequence.SequenceUserFN }} {{ sequence.SequenceUserLN }} {% else %} This sequence does not have a contact {% endif %} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/contact">
          <div class="form-group">
            <label for="exampleInputEmail1">Your email</label>
            <input type="email" class="form-control" id="sequence-contact-email" placeholder="Enter email" value="{{ runninguser.Email }}">
            <small id="emailHelp" class="form-text text-muted"><i class="fas fa-info-circle"></i> Autofilled</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Your Message</label>
            <textarea class="form-control" id="sequence-contact-message" placeholder="Your message"> </textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
    // follow sequence functionality
    $("#follow-sequence").click(function(){
        if($(this).text() == "Follow"){
            var sequence_id = {{ sequence.SequenceID }};
            $.ajax({
              url: "/sequence/"+sequence_id+"/follow/",
              method: "POST",
              success: function(result){
                $("#follow-sequence").text("Unfollow");
              }
            });
        }
        else{
            var sequence_id = {{ sequence.SequenceID }};
            $.ajax({
              url: "/sequence/"+sequence_id+"/unfollow/",
              method: "DELETE",
              success: function(result){
                $("#follow-sequence").text("Follow");
              }
            });
        };
    }); // end of follow sequence call

    // Delete sequence functionality
    $("#delete-sequence-button").click(function(){
        var sequence_id = {{ sequence.SequenceID }};
        $.ajax({
              url: "/sequence/"+sequence_id+"/",
              method: "DELETE",
              success: function(result){
                console.log(result);
              }
            });
    }); // end of delete sequence call
    
    // the code below is to subscript the formula, do not delete
    var formula = $("#formula").text();
    formatted = formula.replace(/([0-9])/g, "<sub>$1</sub>");
    $("#formula").html(formatted);

    // make a new comment with ajax
    $("button#post-comment-button").click(function(){
        var new_comment = $("#new-comment").val();
        sequence_id = {{ sequence.SequenceID }};
        $.ajax({
            url: "/comment/",
            method: "POST",
            data: {
                Message: new_comment,
                ParentID: sequence_id,
                Type: "Sequences"
            },
            success: function(result){
                var parsed_response = JSON.parse(result)
                $("#new-comment").val("");
                var comment_card = "<div class='card mb-3'><div class='card-body'>"+parsed_response['Message']+"</div><div class='card-footer'><div class='row'><div class='col-8'><img src='/user/"+parsed_response['UserID']+"/avatar' class='avatar-small img-fluid rounded-circle' alt='><b>{{ runninguser.username }}</b></div><div class='col-4 text-right'>"+parsed_response['CreationDate']+"</div></div></div></div>";
                $("#comment-card-body").append(comment_card);
                // console.log(parsed_response);
              }
        });
    });
});

</script>

{% endblock %}

{% block footer %}
    {{super()}}
    <script type="text/javascript">
        
    </script>
{% endblock %}

