{% extends "application.html" %}
{% block head %}
    {{super()}}
{% endblock %}

{% block content_body %}
    <span data-bind="with: sequenceDetailPopup">
        <div class="m-form-wrapper">
            <span data-bind="template: {name: 'sequence-detail-template', data: sequenceDetailViewModel}"></span>
            <div class="m-submit-buttons">
                <a data-bind="click: save" class="m-solid-button">Save</a>
                <a data-bind="click: cancel" class="m-solid-button">Cancel</a>
                <div class="clear"></div>
            </div>
        </div>
    </span>
{% endblock %}

{% block footer %}
    {{super()}}
    <script>
        var sequence = initSequences([JSON.parse({{sequence|tojson|safe}})])[0];
        var sequenceDetailPopup = new SequenceDetailPopup({sequence: sequence});
    </script>
{% endblock %}
