{% extends "application.html" %}
{% block content_body %}
<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-3 sidebar-padding">
            <div class="card page-contents">
                <div class="card-header bg-secondary text-center">
                    <h5 class="mb-0 text-white">Quick links</h5>
                </div>
                <ul class="list-group text-center list-group-flush">
                    <li class="list-group-item lh-condensed"><a href="/probe/new"><i class="far fa-plus-square"></i> Create Probe</a></li>
                    <li class="list-group-item lh-condensed"><a href="/sequence/new"><i class="far fa-plus-square"></i> Create Sequence</a></li>
                    <li class="list-group-item lh-condensed"><a href="/probe/my_probes"><i class="fas fa-vial"></i> My Probes</a></li>
                    <li class="list-group-item lh-condensed"><a href=""><i class="fas fa-bars"></i> My Sequences</a></li>
                </ul>
            </div>
        </div>


        <div class="col-9">
            <h5 class="text-center mt-2">Probes List <span class="text-secondary">(Page {{ current_page_number }} of {{ number_of_pages }})</span></h5>
            <div class="card p-3 mt-3">
              <div class="row">
                <div class="col-3 text-left">Filter results</div>
                <div class="col-4 text-right">
                  <div class="input-group mb-3">
                    <div class="input-group">
                      <div class="input-group-text">
                        {% if request.args.get('with_sequences') %}
                        <input type="checkbox" class="with-seq-checkbox mr-3" aria-label="Checkbox for following text input" checked="true"> Only probes with sequences
                        {% else %}
                        <input type="checkbox" class="with-seq-checkbox mr-3" aria-label="Checkbox for following text input"> Only probes with sequences
                        {% endif %}
                      </div>
                    </div>

                  </div>
                 
                </div>
                <div class="col-4 text-right">
                  <select class="selectpicker" multiple>
                    {% for isotope in isotopes %}
                      <option>{{isotope}}</option>
                    {% endfor %}
                  </select>
                  <button class="btn btn-outline-secondary">Go</button>
                </div>
              </div>
            </div>
            <div class="card-columns mt-3">
            {% for molecule in molecules %}
              {% if molecule.Downloadable %}
                  <div class="card text-center with-sequence">
                    <div class="col-12 p-3 text-right">
                      
                      <span class="badge badge-pill badge-warning text-light" data-toggle="tooltip" data-placement="top" title="Probe has downloadable sequences"><i class="fas fa-star"></i></span>
                      
           
                      
                    </div> 
                    <img src="/probe/{{ molecule.ID }}/image" alt="" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">{{ molecule.DisplayFormat|safe }}</h5>
                      
                    </div>
                    <div class="card-footer">
                      <button href="#" class="btn btn-outline-dark view-synonym-button" data-mol="{{ molecule.Name }}" data-toggle="modal" data-target="#synonymModal" id="{{ molecule.ID }}">View Synonyms</button>
                      <a href="/probe/{{ molecule.ID }}" class="btn btn-primary">View Probe <i class="fas fa-angle-right"></i></a> </div>
                  </div>
              {% else %}
               <div class="card text-center no-sequence">
                    <div class="col-12 p-3 text-right">
                      
                      
                      
                      <span class="badge badge-pill badge-primary invisible" data-toggle="tooltip" data-placement="top" title="Probe has downloadable sequences"><i class="fas fa-star"></i></span>
                      
                    </div> 
                    <img src="/probe/{{ molecule.ID }}/image" alt="" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">{{ molecule.DisplayFormat|safe }}</h5>
                      
                    </div>
                    <div class="card-footer">
                      <button href="#" class="btn btn-outline-dark view-synonym-button" data-mol="{{ molecule.Name }}" data-toggle="modal" data-target="#synonymModal" id="{{ molecule.ID }}">View Synonyms</button>
                      <a href="/probe/{{ molecule.ID }}" class="btn btn-primary">View Probe <i class="fas fa-angle-right"></i></a> </div>
                  </div>
              {% endif %}
            {% endfor %}
            </div>
            <nav aria-label="Page navigation example" class="text-center">
              <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                {% for page in range(number_of_pages) %}
                <li {% if current_page_number == (page + 1) %}  class="page-item active" {% else %} class="page-item" {% endif %}><a class="page-link" href="/probe/?page={{ page + 1 }}">{{ page + 1 }}</a></li>
                {% endfor %}
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>

        </div>
    </div>
</div>
<!-- modal -->

<div class="modal fade" id="synonymModal" tabindex="-1" role="dialog" aria-labelledby="synonymModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="synonymModalCenterTitle">Synonyms</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="item-list">
            
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- scripts -->
<script>
$(document).ready(function(){
    $('#synonymModal').on('show.bs.modal', function (e) {
           var id = e.relatedTarget.id;
           var molecule_name = $(e.relatedTarget).data("mol");
           $("h5.modal-title").html("Synonyms for "+"<p>   </p>"+molecule_name);
           console.log(molecule_name);
           // AJAX request
           $.ajax({
            url: '/keyword/Molecules/'+id+'/synonym',
            type: 'get',
            success: function(response){ 
              // Add response in Modal body
              $(response).each(function(index){
                $('ul.item-list').append("<li>"+response[index]['DisplayFormat']+"</li>");
                console.log(response[index]['DisplayFormat']);
                });

              
              // Display Modal
              // $('#empModal').modal('show'); 
            }
          });
    });
  // enable tooltips on this page
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });

  // view only probes with sequences
  $(".with-seq-checkbox").change(function(){
    if (this.checked) {
      $(".no-sequence").hide();
      if(window.location.href.indexOf('?') > -1) {
          var url = document.location.href+"&with_sequences=true";
      }else{
          var url = document.location.href+"?with_sequences=true";
      }
      window.location.href = url;
    }
    else{
      $(".no-sequence").show();
    }
  });

});
</script>
{% endblock %}


