{% extends "application.html" %}
{% block content_body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3 sidebar-padding">
            <div class="card">
                <div class="card-header bg-secondary text-center">
                    <h5 class="mb-0 text-white">Quick links</h5>
                </div>
                <ul class="list-group text-center list-group-flush">
                    <li class="list-group-item lh-condensed">
                        <div class="mx-auto">
                            <a href=""><i class="fas fa-vial"></i> My Probes</a>
                        </div>
                    </li>
                    <li class="list-group-item lh-condensed"><a href=""><i class="fas fa-bars"></i> My Sequences</a></li>
                    <li class="list-group-item lh-condensed"><a href=""><i class="fas fa-user"></i> My Profile</a></li>
                </ul>
            </div>
        </div>

        <div class="col-6">
            <h5 class="text-center mt-3">Edit Probe Details</h5>
            <div class="card p-3 mt-3">
                <form action="/probe/{{ molecule.ID }}/edit/" method="POST">
                    <div class="mb-3">
                      <label for="probe-name"><b>Probe name</b></label>
                      <input type="text" class="form-control" id="probe-name" name="Name" placeholder="Probe name" value="{{ molecule.Name }}">
                          <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                          </div>
                    </div>
                    <div class="mb-3">
                      <label for="probe-name"><b>Probe name's display format</b></label>
                      <input type="text" class="form-control" id="probe-name" name="DisplayFormat" placeholder="Probe name" value="{{ molecule.DisplayFormat|safe }}">
                          <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                          </div>
                    </div>                    
                    <div class="mb-3 align-items-center">
                      <label><b>Probe structure</b></label>
                      <div class="row">
                      <div class="col-4">
                        <img src="/probe/{{ molecule.ID }}/image/" alt="" class="img-fluid">
                      </div>
                      <div class="col-4">
                        <button class="btn btn-outline-primary m-3">Crop this image</button>
                        <button class="btn btn-outline-primary m-3">Replace with new image</button>
                      </div>
                          <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                          </div>
                     </div>
                    </div>                    
                    <div class="mb-3">
                      <label for="probe-cas"><b>CAS</b></label>
                      <input type="text" class="form-control" id="probe-cas" name="CAS" placeholder="Probe name" value="{{ molecule.CAS }}">
                          <div class="invalid-feedback">
                            Please enter a valid email CAS value
                          </div>
                    </div>                    
                    <div class="mb-3">
                      <label for="Isotope"><b>Isotope</b></label>
                      <input type="text" class="form-control" id="Isotope" name="Isotope" placeholder="Probe name" value="{{ molecule.Isotope }}">
                          <div class="invalid-feedback">
                            Please enter a valid Isotope
                          </div>
                    </div>
                    <div class="mb-3">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <input type="checkbox" name="Approved" aria-label="Checkbox for following text input" {% if molecule.Approved %} checked {% endif %}> <span class="ml-2">SOFIE Approved</span>
                        </div>
                      </div>
                    </div>                 
                    <div class="mb-3">
                      <label for="probe-name"><b>Description</b></label>
                      <textarea name="Description" class="form-control" id="probe-name" placeholder="description" rows="5">{{ molecule.Description }}</textarea>
                    </div>
                    <div class="mb-3">
                      <input class="btn btn-primary" type="submit" value="Update changes" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<span data-bind="with: moleculeDetailPopup">
    <div class="m-form-wrapper">
        <span data-bind="template: {name: 'molecule-detail-template', data: moleculeDetailViewModel}"></span>
        <div class="m-submit-buttons">
            <a data-bind="click: save" class="m-solid-button">Save</a>
            <a data-bind="click: cancel" class="m-solid-button">Cancel</a>
            <div class="clear"></div>
        </div>
    </div>
</span>