<script type="text/html" id="notification-popup-template">
    <div class="popup" data-bind="visible: visible()">
        <div class="popup-box">
            <div class="popup-box-close-button">X</div>
            <div class="title center-align-wrapper">
                <div class="center-align-content" data-bind="text: title"></div>
            </div>
            <div class="center-align-wrapper">
                <div class="center-align-content" data-bind="text: message"></div>
            </div>
        </div>
    </div>
</script>