//------------------------------------
//    #Base styles
//------------------------------------


/* Float Clearing
--------------------------------------------- */

.clear {
    clear: both;	
}

.clearfix {
    @extend %clearfix;
}


/* Box Sizing
--------------------------------------------- */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

html, body {
    height: 100%;
}


/* Text
--------------------------------------------- */

body {
    font-size: $base__font-size;
    line-height: ($base__line/$base__font-size);
    font-family: $font-family--primary;
    background-color: $color-main-background;
}


h1 {
    font-weight: $font-weight--bold;
    font-size: em(36px);
    line-height: (36px / 40px);
    margin-bottom: em(70px, 42px);
    color: $color-primary;
}

h2 {
    font-weight: $font-weight--bold;
    font-size: em(30px);
    line-height: (30px / 33px);
    color: $color-primary;
}

h3 {
    font-weight: $font-weight--bold;
    font-size: em(24px);
    line-height: (24px / 27px);
    color: $color-primary;
}

h4 {
    font-weight: $font-weight--bold;
    font-size: em(18px);
    line-height: (18px / 20px);
    color: $color-primary;
    margin: 0 0 4px 0;
}

a {
	font-weight: $font-weight--medium;
    color: palette(primary);
	outline: 0 !important;
	color: $color-primary;
}

li {
	font-weight: $font-weight--medium;
    color: $color-secondary;
}

p {
	font-weight: $font-weight--book;
    color: $color-secondary;
}

span {
	font-weight: $font-weight--book;
    color: $color-secondary;
}

ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;	
}

img {
	padding: 0;
	margin: 0;	
}

a:hover {
	color: $color-accent;
	text-decoration: none !important;

}

a:link {
	text-decoration: none !important;

}

.elipse-overflow {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
}