{% extends "application.html" %}
{% block content_body %}
<div class="container-fluid">
    <div class="row mt-3">
    	<div class="col-8 offset-2">
    		<h5 class="text-center card-title">Cart</h5>
			<div class="card mb-3">
				<div class="card-body">
					<p class="text-center card-title"><span class="badge badge-pill badge-primary mr-2">Step 1 of 2</span><strong>Order details</strong></p>
					<table class="table">
						<thead>
							<tr>
							  <th scope="col" id="cart-col-1">Item</th>
							  <th scope="col">Quantity</th>
							  <th scope="col">Part #</th>
							  <th scope="col">Price / Unit</th>
							  <th scope="col">Subtotals</th>
							</tr>
							</thead>
							<tbody>
							<tr>
							  <td scope="row">Cassettes <br>
								<small>ELIXYS FLEX/CHEM universal cassettes. <br>
								Each cassette contains all wetted paths and are guaranteed for one run.</small>
							  </td>
							  <td>1</td>
							  <td>121113</td>
							  <td>$500</td>
							  <td>$500</td>
							</tr>
							<tr>
							  <td>Reactor Vias (pack of 12)<br>
								<small>Standard FLEX/CHEM glass reactor vials</small>
							  </td>
							  <td>2</td>
							  <td>122223</td>
							  <td>$300</td>
							  <td>$600</td>
							</tr>
							<tr>
							  <td>Reactor Vias (pack of 12)<br>
								<small>Standard FLEX/CHEM glass reactor vials</small>
							  </td>
							  <td>2</td>
							  <td>1210003</td>
							  <td>$300</td>
							  <td>$600</td>
							</tr>

							<!-- Last row -->
							<tr>
								<td colspan="4"></td>
								<td><strong>$1200</strong>
									<br>
									
								</td>
							</tr>
						</tbody>


					</table>
					<p class="text-right"><small class="text-muted">Shipping and taxes (if applicable) are excluded</small></p>

				</div>
				<div class="card-footer text-right">
					<button class="btn btn-primary">Generate Quote</button>
				</div>
			</div>

			<div class="card mt-3">
				<div class="card-body">
					<p class="text-center card-title"><span class="badge badge-pill badge-primary mr-2">Step 2 of 2</span><strong>PO Details</strong></p>
					{% if quote_generated %}
					<div class="col-6 offset-3">
						<form action="">
							<div class="mb-3">
		                      <label for="po-number"><b>P.O Number</b></label> <span class="text-danger">*</span>
		                      <input type="text" class="form-control" name="po_number">
		                    </div>
		                    <div class="mb-3">
		                      <label for="po-file"><b>Upload P.O</b></label> <span class="text-danger">*</span>
		                      <div class="custom-file">
		                      	<input type="file" id="po-file" class="custom-file-input">
		                      	<label class="custom-file-label" for="po-file">Choose file</label>
		                      </div>
		                    </div>
		                    <div class="mb-3">
		                      <label for="comments"><b>Additional Info</b></label> <span class="text-danger">*</span>
		                      <textarea type="text" class="form-control" name="comments"></textarea>
		                    </div>
		                    <div class="mb-3 text-right">
		                    	<input type="checkbox" id="terms-and-conditions" aria-label="Checkbox for following text input"> I agree to <a href="">sale terms and conditions</a><span class="text-danger">*</span>
		                    </div>
		                    <div class="mb-3 text-right">
								<input type="submit" class="btn btn-primary" id="place-order-button" value="Place order" disabled="true">
		                    </div>
						</form>
					</div>
					{% else %}
					<div class="alert alert-warning" role="alert">
						<i class="fas fa-info"></i> Please generate a quote to add purchase order information
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function(){
	$("input[type=checkbox]").on('change', function(){
		if($("#terms-and-conditions").is(':checked')){
			$("#place-order-button").removeAttr("disabled");
		}
		else{
			$("#place-order-button").attr("disabled", "disabled");
		}
   
	});
});
</script>
{% endblock %}

<script type="text/html" id="cart-template">
    <div data-bind="css: {'savingBlockUI': record.isSaving,
                      'savingBlockHidden': !record.isSaving()}">
        <div class="blockUIText">Saving...</div>
    </div>

    <a class="back-products" data-bind="click: viewProducts">&lt; Back to products</a>

    <div class="m-product-pane m-product-pane--cart">
        <div class="cart-header">
		    <h2 class="cart-header__h2">Order Breakdown:</h2>
        </div>

		<div data-bind="foreach: {data: products, as: 'product'}">
            <div class="cart-details__section--main">
				<div class="cart-details__section">
					<span class="cart-details__title" data-bind="text: 'ELIXYS&nbsp;' + Family,
																   attr: {'id': product.record.Id}"></span>
				   
					<span class="cart-details__quant" data-bind="text: product.record.quantity"></span>
                    <span class="cart-details__quant" data-bind="text: product.displayUnit"></span>

					<span class="cart-details__prod" data-bind="text: product.record.Name,
									 attr: {'id': product.record.Id}"></span>
                    
					<span class="cart-details__prod" data-bind="text: product.unitDisplayText"></span>
					<span class="cart-details__subtotal" data-bind="text: product.displayedTotal"></span>

				</div>
	
		
				<div class="cart-details__section" data-bind="if: product.breakdown().length > 0,
														visible: product.breakdown().length > 0">
					 <span class="cart-details__title cart-details__title--secondary">Breakdown</span>
					<ul data-bind="foreach: {data: product.breakdown, as: 'breakdownProduct'}">
						<li class="cart-details__li">
							<span class="cart-details__extras" data-bind="text: breakdownProduct.record.quantity"></span>
							<span class="cart-details__extras cart-details__extras--lbl" data-bind="text: breakdownProduct.Name"></span>

						</li>
					</ul>
				</div>
				<div class="cart-details__section" data-bind="if:
				product.includedAddons().length > 0,
														visible:
														product.includedAddons().length > 0">
					<span class="cart-details__title cart-details__title--secondary">Add-on options</span>
					<ul data-bind="foreach: {data: product.includedAddons, as: 'addOnProduct'}">
						<li class="cart-details__li">
							<span class="cart-details__extras" data-bind="text: addOnProduct.record.quantity"></span>
							<span class="cart-details__extras cart-details__extras--lbl" data-bind="text: addOnProduct.Name"></span>
						</li>
					</ul>
				</div>
	        </div>
		</div>
	
		<div class="cart-footer">
            <div class="cart-footer__total">            
                <span class="cart-footer__total--number" data-bind="text: displayedTotal"></span>
				<span class="cart-footer__total--lbl">Total:</span>
            </div>
			
            <div class="cart-footer__buttons">
				<div class="btn-blue btn-blue__products btn-blue__products--cart" data-bind="click: placeOrder">Place Order</div>
				<div class="btn-gray btn-gray__products btn-gray__products--cart" data-bind="click: clearCart">Cancel</div>
            </div>
		</div>
    </div>
</script>