{% extends "application.html" %}
{% block content_body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3 sidebar-padding">
            <div class="card">
                <div class="card-header bg-secondary text-center">
                    <h5 class="mb-0 text-white">Quick links</h5>
                </div>
                <ul class="list-group text-center list-group-flush">
                    <li class="list-group-item lh-condensed">
                        <div class="mx-auto">
                            <a href="/probe/my_probes/"><i class="fas fa-vial"></i> My Probes</a>
                        </div>
                    </li>
                    <li class="list-group-item lh-condensed"><a href="/user/{{ runninguser.UserID }}/edit/"><i class="fas fa-user"></i> My Profile</a></li>
                </ul>
            </div>
        </div>
        <!-- Center col -->
        <div class="col-6 page-contents sidebar-padding">
            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
              <li class="nav-item pl-0 pr-0 col-6 text-center">
                <a class="nav-link active" id="opencases-tab" data-toggle="tab" href="#opencases" role="tab" aria-controls="opencases" aria-selected="true">Open cases</a>
              </li>
              <li class="nav-item pl-0 pr-0 col-6 text-center">
                <a class="nav-link" id="closedcase-tab" data-toggle="tab" href="#closedcase" role="tab" aria-controls="closedcase" aria-selected="false">Closed cases</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="opencases" role="tabpanel" aria-labelledby="opencases-tab">
                  {% for opencase in open_cases %}

                    <div class="card mt-3">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <h5>Case Number: {{ opencase.CaseNumber }}</h5>
                                    <p class="card-text"><small class="text-muted">Created: {{ opencase.CreatedDate }} </small></p>
                                </div>
                                <div class="col-6 text-right">
                                    
                                    <div class="dropdown">
                                      <button class="btn btn-secondary dropdown-toggle" type="button" id="caseMenuButton_{{ opencase.ForumID }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Case Options
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="caseMenuButton_{{ opencase.ForumID }}">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        {% if runninguser.RoleID == 2 %}
                                            <a class="dropdown-item" href="{{ opencase.RedirectURL }}">View on Salesforce</a>
                                        {% endif %}
                                        
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ opencase.Title }}</h5>
                            <p class="card-text">{{ opencase.SubTitle }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-6">
                                    <a href="/account/{{ opencase.AccountID }}/">
                                        <img src="/account/{{ opencase.AccountID }}/logo" alt="" class="avatar-small img-fluid rounded-circle"><span class="ml-3">{{ opencase.AccountName }}</span>
                                    </a>
                                </div>
                                <div class="col-6 text-right"><button class="btn btn-link"  type="button" data-toggle="collapse" data-target="#collapsibleComments_{{opencase.ForumID}}" aria-expanded="false" aria-controls="collapsibleComments_{{opencase.ForumID}}"><i class="far fa-comments mr-1"></i>{{ opencase.comments|length }} Comments</button></div>
                            </div> 
                        </div>
                    </div>
                    <div class="collapse" id="collapsibleComments_{{opencase.ForumID}}">
                      <div class="card card-body">
                       {% for comment in opencase.comments %}
                            <div id="comment-card-body">    
                                <div class="card mb-3">
                                    <div class="card-body">
                                        {{ comment.Message|safe }}
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-8">
                                            <img src="/user/{{ comment.UserID }}/avatar" class="avatar-small img-fluid rounded-circle" alt="">
                                            <b>{{ comment.username }}</b>
                                            </div>
                                            <div class="col-4 text-right">
                                                {{ comment.CreationDate }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="form-group mt-3 text-right">
                            <textarea name="comment" id="new-comment-{{opencase.ForumID}}" class="form-control" rows="3" placeholder="Type your comment here"></textarea>
                            <button class="btn btn-outline-primary mt-3 post-comment-button" data-index="{{opencase.ForumID}}" id="post-comment-{{opencase.ForumID}}" data-case="{{ opencase.ForumID }}">Post comment</button>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
              </div>

              <div class="tab-pane fade" id="closedcase" role="tabpanel" aria-labelledby="closedcase-tab">
                  {% for closedcase in closed_cases %}
                    <div class="card mt-3">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <h5>Case Number: {{ closedcase.CaseNumber }}</h5>
                                    <p class="card-text"><small class="text-muted">Created: {{ closedcase.CreatedDate }} </small></p>
                                </div>
                                <div class="col-6 text-right">
                                    
                                    <div class="dropdown">
                                      <button class="btn btn-secondary dropdown-toggle" type="button" id="caseMenuButton_{{ closedcase.ForumID }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Case Options
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="caseMenuButton_{{ closedcase.ForumID }}">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        {% if runninguser.RoleID == 2 %}
                                            <a class="dropdown-item" href="{{ closedcase.RedirectURL }}">View on Salesforce</a>
                                        {% endif %}
                                        
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ closedcase.Title }}</h5>
                            <p class="card-text">{{ closedcase.SubTitle }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-6">
                                    <a href="/account/{{ closedcase.AccountID }}/">
                                        <img src="/account/{{ closedcase.AccountID }}/logo" alt="" class="avatar-small img-fluid rounded-circle"><span class="ml-3">{{ closedcase.AccountName }}</span>
                                    </a>
                                </div>
                                <div class="col-6 text-right"><button class="btn btn-link"  type="button" data-toggle="collapse" data-target="#collapsibleComments_{{closedcase.ForumID}}" aria-expanded="false" aria-controls="collapsibleComments_{{closedcase.ForumID}}"><i class="far fa-comments mr-1"></i>{{ closedcase.comments|length }} Comments</button></div>
                            </div> 
                        </div>
                    </div>
                    <div class="collapse" id="collapsibleComments_{{closedcase.ForumID}}">
                      <div class="card card-body">
                       {% for comment in closedcase.comments %}
                            <div id="comment-card-body">    
                                <div class="card mb-3">
                                    <div class="card-body">
                                        {{ comment.Message|safe }}
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-8">
                                            <img src="/user/{{ comment.UserID }}/avatar" class="avatar-small img-fluid rounded-circle" alt="">
                                            <b>{{ comment.username }}</b>
                                            </div>
                                            <div class="col-4 text-right">
                                                {{ comment.CreationDate }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="form-group mt-3 text-right">
                            <textarea name="comment" id="new-comment-{{closedcase.ForumID}}" class="form-control" rows="3" placeholder="Type your comment here"></textarea>
                            <button class="btn btn-outline-primary mt-3 post-comment-button" data-index="{{closedcase.ForumID}}" id="post-closed-comment-{{closedcase.ForumID}}" data-case="{{ closedcase.ForumID }}">Post comment</button>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
              </div>
            </div>
        </div>
        <!-- Right sidebar -->
        <div class="col-3 sidebar-padding" id="probe-right-sidebar">
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    // make a new comment with ajax
    $("button.post-comment-button").click(function(){
        // loop index number to formulate a unique ID for the textarea
        var loopIndex = $(this).data('index');
        var textAreaComment = "new-comment-"+loopIndex;
        var commentText = $("#"+textAreaComment).val();
        var case_id = $(this).data('case');
        $.ajax({
            url: "/comment/",
            method: "POST",
            data: {
                Message: commentText,
                ParentID: case_id,
                Type: "Forums"
            },
            success: function(result){
                var parsed_response = JSON.parse(result)
                $("#new-comment").val("");
                var comment_card = "<div class='card mb-3'><div class='card-body'>"+parsed_response['Message']+"</div><div class='card-footer'><div class='row'><div class='col-8'><img src='/user/"+parsed_response['UserID']+"/avatar' class='avatar-small img-fluid rounded-circle' alt='><b>{{ runninguser.username }}</b></div><div class='col-4 text-right'>"+parsed_response['CreationDate']+"</div></div></div></div>";
                $("#comment-card-body").append(comment_card);
                console.log(parsed_response);
              }
        });
    });


    // Comment functionality for closed case section
});
</script>
{% endblock %}

