

<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <h1 class="text-center">FAQ & ELIXYS Support Videos</h1>
    <div class="dash-nav" id="faq-nav-container">
        <ul class="nav nav-tabs col-sm-12 text-center" id="faq-nav-ul">
            <li class="support-nav-li col-sm-6 active"><a data-toggle="tab" href="#faq-subtab">FAQs</a></li>
            <li class="support-nav-li col-sm-6"><a data-toggle="tab" href="#videos">ELIXYS Support videos</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <!-- FAQ subtab -->
        
        <div id="faq-subtab" class="tab-pane in active">
            <div class="col-sm-12" id="previous-software-release">
                
                <!-- repeatable component -->
                <div class="panel-group" id="faq-accordion" role="tablist" aria-multiselectable="true">
                    <p class="text-center" id="faq-top-note">FAQ NOTE: Click to expand solution</p>
                    <div class="panel panel-default col-sm-12">

                        <div class="panel-heading software-panel-heading" role="tab" id="faq-heading1">
                            <h3> 
                                <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-collapse-1" aria-expanded="false" aria-controls="faq-collapse-1" class="collapsed">
                                1)  FLEX/CHEM – The ELIXYS software failed to connect to the instrument
                                </a>
                            </h3>
                        </div>
                        <div id="faq-collapse-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-heading-1">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <br>
                                    <h4>How to fix this issue</h4>
                                    <p>Please view the “Common Errors – Can’t Connect to Software” ELIXYS Support Video for a detailed breakdown of the possible causes and solutions for this problem.</p>
                                    <iframe height="205" src="https://www.youtube.com/embed/N42xx6ns8Dw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
             

                <!-- repeatable component -->
                
                    <div class="panel panel-default col-sm-12">
                        <div class="panel-heading software-panel-heading" role="tab" id="faq-heading2">
                            <h3> 
                                <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-collapse-2" aria-expanded="false" aria-controls="faq-collapse-2" class="collapsed">
                                2)  FLEX/CHEM – The FLEX/CHEM failed to initialize
                                </a>
                            </h3>
                        </div>
                        <div id="faq-collapse-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-heading-2">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <br>
                                    <h4>How to fix this issue</h4>
                                    <p>If any error messages appeared on the screen, please view the appropriate ELIXYS Support Video. Additionally, check that there are no physical interferences between the actuators and any cassettes, tubing, reactor vials, or fittings. Power cycle the instrument and retry the initialization after verifying the system is free of obstructions.</p>
                                </div>
                            </div>
                        </div>
                    </div>


                <!-- repeatable component -->
              
                    <div class="panel panel-default col-sm-12">
                        <div class="panel-heading software-panel-heading" role="tab" id="faq-heading3">
                            <h3> 
                                <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-collapse-3" aria-expanded="false" aria-controls="faq-collapse-3" class="collapsed">
                                3)  FLEX/CHEM – The cassette does not easily lock in place
                                </a>
                            </h3>
                        </div>
                        <div id="faq-collapse-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-heading-3">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <br>
                                    <h4>How to fix this issue</h4>
                                    <p>In most cases, this is due to the stopcock valve knob not being aligned properly to the default position. Verify that each knob points at the notch on the circular cutout on the underside of the cassette. Finally, initialize the FLEX/CHEM prior to sliding the cassette in to ensure proper positioning of the FLEX/CHEM stopcock actuators. See the ELIXYS Support Video “Common Issues” for proper cassette configuration.</p>
                                    <br>
                                    <h4>Common Issues</h4>
                                    <iframe height="205" src="https://www.youtube.com/embed/o4zKdEnNSMo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>


                <!-- repeatable component -->

                    <div class="panel panel-default col-sm-12">
                        <div class="panel-heading software-panel-heading" role="tab" id="faq-heading4">
                            <h3> 
                                <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-collapse-4" aria-expanded="false" aria-controls="faq-collapse-3" class="collapsed">
                                4)  FLEX/CHEM – My synthesis finished with lower than expected yield
                                </a>
                            </h3>
                        </div>
                        <div id="faq-collapse-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-heading-4">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <br>
                                    <h4>How to fix this issue</h4>
                                    <p>Check for residual activity on the QMA and/or any other cartridge used as well as inside waste vials, reactor vials, and activity source vials to ensure no activity remained behind. Check for leaks on the cassette, underneath the cassette, and at all cassette fitting junctions. Finally, verify that all reagent vial contents were properly added.</p>
                                </div>
                            </div>
                        </div>
                    </div>


                <!-- repeatable component -->

                    <div class="panel panel-default col-sm-12">
                        <div class="panel-heading software-panel-heading" role="tab" id="faq-heading5">
                            <h3> 
                                <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-collapse-5" aria-expanded="false" aria-controls="faq-collapse-5" class="collapsed">
                                5)  FLEX/CHEM – Liquid will not transfer: either out of a cassette or from one cassette to another
                                </a>
                            </h3>
                        </div>
                        <div id="faq-collapse-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-heading-5">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <br>
                                    <h4>How to fix this issue</h4>
                                    <p>The transfer position requires that the reactor vial is sealed against the bottom of the cassette and that the transfer dip tube is sealed tightly by the white gasket underneath the cassette. If the cassette gasket is old and worn, this seal may not be complete and will result in a pressure leak, causing liquid to transfer slowly if at all. Check all external cassette tubing for kinks or obstructions which may cause a clog. Finally, if you are transferring through a cartridge or where there may be a significant amount of fluidic resistance (e.g. to an HPLC sample loop), you may need to increase the delivery gas pressure either through the unit operation programming or by using the “Override” function and manually increasing the pressure. </p>
                                </div>
                            </div>
                        </div>
                    </div>


                <!-- repeatable component -->
                    <div class="panel panel-default col-sm-12">
                        <div class="panel-heading software-panel-heading" role="tab" id="faq-heading6">
                            <h3> 
                                <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-collapse-6" aria-expanded="false" aria-controls="faq-collapse-6" class="collapsed">
                                6)  FLEX/CHEM – 18F will not leave the source vial
                                </a>
                            </h3>
                        </div>
                        <div id="faq-collapse-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-heading-6">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <br>
                                    <h4>How to fix this issue</h4>
                                    <p>Verify that the needle connected to the cassette “A” line is fully submerged in the activity source vial. Verify that the needle connected to the delivery gas line is above the liquid line within the source vial. If this error persists, run a mock “Trap Isotope” sequence and verify with your hand that inert gas is being delivered through the delivery gas line (see ELIXYS Support Video “Common Errors: Could Not Set Pressure Regulator”).</p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                <!-- faq 7-->

                    <div class="panel panel-default col-sm-12">
                        <div class="panel-heading software-panel-heading" role="tab" id="faq-heading7">
                            <h3> 
                                <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-collapse-7" aria-expanded="false" aria-controls="faq-collapse-7" class="collapsed">
                                7)  FLEX/CHEM – The video feed from the reactor cameras are frozen
                                </a>
                            </h3>
                        </div>
                        <div id="faq-collapse-7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-heading-7">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <br>
                                    <h4>How to fix this issue</h4>
                                    <p>Navigate to the “System” tab and click the “Reset Feed” button underneath the appropriate reactor’s camera. If this issue persists, power cycle the instrument and the Surface tablet before checking again. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- faq 8 -->

                    <div class="panel panel-default col-sm-12">
                        <div class="panel-heading software-panel-heading" role="tab" id="faq-heading8">
                            <h3> 
                                <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-collapse-8" aria-expanded="false" aria-controls="faq-collapse-8" class="collapsed">
                                8) FLEX/CHEM – The camera quality/lighting is poor or varies with position
                                </a>
                            </h3>
                        </div>
                        <div id="faq-collapse-8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-heading-8">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <br>
                                    <h4>How to fix this issue</h4>
                                    <p>Unfortunately, the image quality from the camera will deteriorate when activity is present in the reactor vial due to the CCD array on the camera. Reactor lighting is typically pre-set by a SOFIE Engineer during the installation and should be optimal. However, other lights within/outside the hot cell may cause the video quality to change. Turning external lights off will most likely improve the image quality and lighting.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- faq 9 -->

                    <div class="panel panel-default col-sm-12">
                        <div class="panel-heading software-panel-heading" role="tab" id="faq-heading9">
                            <h3> 
                                <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-collapse-9" aria-expanded="false" aria-controls="faq-collapse-9" class="collapsed">
                                9)  FLEX/CHEM – Liquid in the reactor vial is not evaporating
                                </a>
                            </h3>
                        </div>
                        <div id="faq-collapse-9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-heading-9">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <br>
                                    <h4>How to fix this issue</h4>
                                    <p>During an evaporation step, the vacuum pump should achieve around -300 mmHg of vacuum if a pressure of ~5 psi is used. If the vacuum level is significantly worse than this (e.g. -100 mmHg), the vacuum system integrity may be compromised. Verify that the fittings to/from the cold trap are tight. This issue can also occur if cassette gaskets are re-used and deform slightly around the tubing.
If the vacuum is very high (e.g. -450 mmHg), verify that there is no clog in the cold trap. If liquid nitrogen is used in the dewar or water is evaporated, a frozen clog may prevent the vacuum system from pulling on the reactor vial. Please see the ELIXYS Support Video “Common Issues” for how to properly fill up the dewar and install the cold trap. 
 </p>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- faq 10 -->

                    <div class="panel panel-default col-sm-12">
                        <div class="panel-heading software-panel-heading" role="tab" id="faq-heading10">
                            <h3> 
                                <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-collapse-10" aria-expanded="false" aria-controls="faq-collapse-10" class="collapsed">
                                10) FLEX/CHEM – The stir bar is not moving during a unit operation when it should be
                                </a>
                            </h3>
                        </div>
                        <div id="faq-collapse-10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-heading-10">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <br>
                                    <h4>How to fix this issue</h4>
                                    <p>A motor with a magnetic head below the reactor vial will turn on during operations where the stir function is enabled. This head causes the stir bar within the reactor vial to spin as it moves. It is possible that the stir bar may get stuck or encounter significant friction against the reactor vial walls due to chemical build-up. Verify that there is a mixer disk below the reactor vial as well. Without a mixer disk, the reactor vial may slip and bump against the magnetic head, preventing it from spinning. See the ELIXYS Support Video “Common Issues” for more information about the mixer disk.</p>
                                </div>
                            </div>
                        </div>
                    </div>

            <!-- fa1 11 -->

                    <div class="panel panel-default col-sm-12">
                        <div class="panel-heading software-panel-heading" role="tab" id="faq-heading11">
                            <h3> 
                                <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-collapse-11" aria-expanded="false" aria-controls="faq-collapse-11" class="collapsed">
                                11) FLEX/CHEM – The reactor is taking too long to cool or is unable to reach the final temperature
                                </a>
                            </h3>
                        </div>
                        <div id="faq-collapse-11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-heading-11">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <br>
                                    <h4>How to fix this issue</h4>
                                    <p>The ELIXYS system uses passive cooling on the coolant used to cool the reactors. This means that it cannot be cooled below room temperature. Always ensure that the “Cool to temperature” is programmed to be above room temperature. The longer the system is left powered on and coolant is cycled through the instrument (e.g. during an evaporate operation), the “warmer” the coolant reservoir is and therefore the longer it will take to cool the system. Keeping your Control Box in a well-ventilated area will also help keep the coolant reservoir cool. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- faq 12 -->

                    <div class="panel panel-default col-sm-12">
                        <div class="panel-heading software-panel-heading" role="tab" id="faq-heading12">
                            <h3> 
                                <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-collapse-12" aria-expanded="false" aria-controls="faq-collapse-12" class="collapsed">
                                12) FLEX/CHEM – A reagent did not add into my reactor vial during an Add Reagent operation
                                </a>
                            </h3>
                        </div>
                        <div id="faq-collapse-12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-heading-12">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <br>
                                    <h4>How to fix this issue</h4>
                                    <p>The most common cause of this is a clogged cassette needle. Always use new reagent vial septa to ensure that the septa are pristine before use and will not break up after many uses. Try to add the reagent to the other “Add” fluid path and see if this problem persists. Order new cassettes if the needles have been clogged due to frequent use. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- faq 13 -->

                    <div class="panel panel-default col-sm-12">
                        <div class="panel-heading software-panel-heading" role="tab" id="faq-heading13">
                            <h3> 
                                <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-collapse-13" aria-expanded="false" aria-controls="faq-collapse-13" class="collapsed">
                                13)  FLEX/CHEM – A reagent vial is stuck in the Add position
                                </a>
                            </h3>
                        </div>
                        <div id="faq-collapse-13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-heading-13">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <br>
                                    <h4>How to fix this issue</h4>
                                    <p>When the FLEX/CHEM is no longer “hot”, remove the cassette from the instrument. Carefully pull the vial off of the Add position and verify that the needles are not bent. Verify that the needles did not puncture the metal crimp top either. We have seen this issue occur if the reagent vial crimping tool is not properly set during use; this will “squeeze” more of the septa material up and out of the crimp top, increasing the friction force on the needle. Please contact the ELIXYS Support Team for further information on how to correctly adjust the crimping tool. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- faq 14 -->

                    <div class="panel panel-default col-sm-12">
                        <div class="panel-heading software-panel-heading" role="tab" id="faq-heading14">
                            <h3> 
                                <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-collapse-14" aria-expanded="false" aria-controls="faq-collapse-14" class="collapsed">
                                14)  FLEX/CHEM – The reagent robot is unable to pick up a reagent vial
                                </a>
                            </h3>
                        </div>
                        <div id="faq-collapse-14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-heading-14">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <br>
                                    <h4>How to fix this issue</h4>
                                    <p>This can be due to a number of issues. Verify that all four cassette wing knobs are locked in and the cassette has not been “pushed up” by the reactor as it presses into the cassette. See the ELIXYS Support Video “Common Errors: Failed to Lift Reactor” for how to prevent this. Verify that the reagent robot homes properly all the way to the back right of the FLEX/CHEM and is not obstructed during its homing procedure. If the robot is obstructed, it may result in a position offset and prevent reagents from being picked up. See the ELIXYS Support Videos “Common Issues” and “Common Errors: Failed to Lower Gripper or Gas Transfer” for more details. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- faq 15 -->

                    <div class="panel panel-default col-sm-12">
                        <div class="panel-heading software-panel-heading" role="tab" id="faq-heading15">
                            <h3> 
                                <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-collapse-15" aria-expanded="false" aria-controls="faq-collapse-15" class="collapsed">
                                15)  FLEX/CHEM – Liquid transferred to the incorrect location during a Transfer operation
                                </a>
                            </h3>
                        </div>
                        <div id="faq-collapse-15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-heading-15">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <br>
                                    <h4>How to fix this issue</h4>
                                    <p>Verify that all tubing connections are correct. The Transfer unit operation has three modes. The “Out” mode should be used when the transfer dip tube is connected directly to a collection vial, another cassette’s external input line, or an HPLC injection valve input line. The “Trap” mode should be used when the transfer dip tube is connected to the C2-O line on the cassette, possibly with a cartridge between. Liquid here is routed out of the cassette through the “W2” waste line. Finally, in the “Elute” mode, the cassette routes fluid to the “O” output line; typically this uses the same physical configuration as the “Trap” mode. 
Before installing cassettes into the FLEX/CHEM, verify that the FLEX/CHEM is initialized and the cassette stopcock valves are rotated into the correct position. See the ELIXYS Support Video “Common Issues” for proper cassette configuration.
 </p>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- Faq 16 -->

                    <div class="panel panel-default col-sm-12">
                        <div class="panel-heading software-panel-heading" role="tab" id="faq-heading16">
                            <h3> 
                                <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-collapse-16" aria-expanded="false" aria-controls="faq-collapse-16" class="collapsed">
                                16) PURE/FORM – Communication to the PURE/FORM module is very slow or “not responding”
                                </a>
                            </h3>
                        </div>
                        <div id="faq-collapse-16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-heading-16">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <br>
                                    <h4>How to fix this issue</h4>
                                    <p>The PURE/FORM module requires the HPLC pump to be powered on in order to communicate properly with the ELIXYS software. Unfortunately, the pump will not automatically turn on when the power strip is turned on. The power button on the front of the pump must be pressed. This turns the button blue and will allow communication with the software.
If the “PF system is not responding” message appears, this indicates that the software cannot connect to the PURE/FORM. Check that power is being supplied; the fans on the back of the PURE/FORM should be on. Also, check that the ethernet cable from the PURE/FORM into the airport router is plugged in securely and has not become disconnected. If the problem persists, contact ELIXYS Support.
 </p>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- faq 17 -->

                    <div class="panel panel-default col-sm-12">
                        <div class="panel-heading software-panel-heading" role="tab" id="faq-heading17">
                            <h3> 
                                <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-collapse-17" aria-expanded="false" aria-controls="faq-collapse-17" class="collapsed">
                                17) PURE/FORM – There are air bubbles in the purification sub-system which can be seen on the output lines and/or the UV detector data (e.g. spikes on the trace)
                                </a>
                            </h3>
                        </div>
                        <div id="faq-collapse-17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-heading-17">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <br>
                                    <h4>How to fix this issue</h4>
                                    <p>Air bubbles are common in HPLC systems and can be tricky to eliminate. First, ensure that the mobile phases used are degassed properly, either through sonication, bubbling inert gas, or using a dedicated degasser. Next, purge the HPLC pump head as described in the PURE/FORM User Manual. When purged for 5-10 minutes, there should be no air bubbles in the mobile phase input line into the pump or in the pump head itself. 
                                    Next, use the Standalone screen to run HPLC pump to waste without a column present (typically the bypass tubing is connected to column position #4). Visually check that the waste line has no air bubbles inside of it. It may take some time for the HPLC system to be flushed of air bubbles, e.g. 30 minutes or more. If any column position was recently changed, verify that the fittings are tight and there is no leaking present.
                                     </p>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- Faq 18 -->

                    <div class="panel panel-default col-sm-12">
                        <div class="panel-heading software-panel-heading" role="tab" id="faq-heading18">
                            <h3> 
                                <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-collapse-18" aria-expanded="false" aria-controls="faq-collapse-18" class="collapsed">
                                18) PURE/FORM - When doing a sample transfer from the ELIXYS to the PURE/FORM, the liquid sensor(s) do not seem to be reading the liquid head/tail correctly
                                </a>
                            </h3>
                        </div>
                        <div id="faq-collapse-18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-heading-18">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <br>
                                    <h4>How to fix this issue</h4>
                                    <p>The liquid sensors are calibrated before the installation has completed and are verified to be correctly identifying the head and tail of the sample as it passes through the sensor. However, there are a few common scenarios which would prevent the sensor from functioning correctly.
                                    The most common scenario is that when the transfer from the ELIXYS to the PURE/FORM starts, the tubing between the cassette and the PURE/FORM already has liquid inside of it. This can happen if the tubing is not properly dried out after a transfer operation has been done. The residual liquid in the tubing will cause the liquid sensor to detect a false head and tail and switch the injection valve into the inject position prematurely. To dry out the tubing first connect the cassette output (either the “O” output line or the dip tube itself) to the PURE/FORM input tubing. Then run a Transfer sequence with a dry, empty reactor vial. Set the pressure for transfer to a high value, 10 or 15 psi. Let the sequence run for at least 5 minutes; this will cause all liquid inside of the tubing to be forced out/dried out. 
                                    The second common scenario is that the tubing has been moved or disturbed enough so that it is not seated properly inside the liquid sensor body. For example, this can happen if the user removes a cassette from the ELIXYS without first disconnecting the input line. To seat the tubing inside the sensor, take the tubing out and grasp the tubing with the thumb and forefinger of both hands. Carefully push both ends down into the sensor. To double check, use a small flat-head screwdriver to gently press the tubing down. The tubing will “click” when it is in the correct position.
                                    Lastly, ensure that the correct input tubing is connected to the correct liquid sensor. It is possible that these tubes could be switched. After this, verify that the Transfer operation destination sample loop matches the input tubing number used.
                                     </p>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- faq 19 -->

                    <div class="panel panel-default col-sm-12">
                        <div class="panel-heading software-panel-heading" role="tab" id="faq-heading19">
                            <h3> 
                                <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-collapse-19" aria-expanded="false" aria-controls="faq-collapse-19" class="collapsed">
                                19) PURE/FORM - When switching between Formulation steps on the Standalone screen, a popup appears saying that the valves cannot be set correctly 
                                </a>
                            </h3>
                        </div>
                        <div id="faq-collapse-19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-heading-19">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <br>
                                    <h4>How to fix this issue</h4>
                                    <p>This problem can occur if there is a temporary PURE/FORM communication issue with the software. In almost every case, clearing the popup window will successfully set the valving for the desired step in the Formulation sub-system. Clear the popup window; if the issue persists contact ELIXYS support. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- Faq 20 -->

                    <div class="panel panel-default col-sm-12">
                        <div class="panel-heading software-panel-heading" role="tab" id="faq-heading20">
                            <h3> 
                                <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-collapse-20" aria-expanded="false" aria-controls="faq-collapse-20" class="collapsed">
                                20)  PURE/FORM - The dilution reservoir overfilled and the HLC pump stopped pumping. What do I do now?
                                </a>
                            </h3>
                        </div>
                        <div id="faq-collapse-20" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-heading-20">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <br>
                                    <h4>How to fix this issue</h4>
                                    <p>The dilution reservoir will alert the user when 90% full assuming the value entered in “Reservoir Pre-Fill Amount” is correct. If the dilution reservoir overfills, the system will detect the overflow and cut off the HPLC pump. Two things can be done to recover from this situation. The user can “continue” the Purification unit operation to proceed to the Formulation unit operation if that is next. Alternatively, the user can create a sequence with a Formulation unit operation. When the Trap step starts, the product will be pushed out of the PURE/FORM through the SPE cartridge. Finally, the user could enter the Standalone screen and navigate to the Formulation sub-system and then set a pressure in the Trap step.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- Faq 21 -->

                    <div class="panel panel-default col-sm-12">
                        <div class="panel-heading software-panel-heading" role="tab" id="faq-heading21">
                            <h3> 
                                <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-collapse-21" aria-expanded="false" aria-controls="faq-collapse-21" class="collapsed">
                                21) PURE/FORM - Can I directly inject a sample via a syringe into the sample loop for Purification?
                                </a>
                            </h3>
                        </div>
                        <div id="faq-collapse-21" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-heading-21">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <br>
                                    <h4>How to fix this issue</h4>
                                    <p>Yes. The user can connect the sample to one of the input tubes on the top of the PURE/FORM. Navigate to the Standalone screen and change the injection valve position to match the input tubing number (e.g. #1). Load the sample into the sample loop; they have a 5 ml capacity. Turn the HPLC pump and UV detector lamps on, set the flow rate, and then press the other injection valve position (e.g. #2). Then press the “Clear” and “Record” button on the graphing window to start data collection. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- Faq 22 -->

                    <div class="panel panel-default col-sm-12">
                        <div class="panel-heading software-panel-heading" role="tab" id="faq-heading22">
                            <h3> 
                                <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-collapse-22" aria-expanded="false" aria-controls="faq-collapse-22" class="collapsed">
                                22) PURE/FORM – I properly degassed my mobile phase solvents and purged the HPLC pump of air. However, I still saw air bubbles before my sample in the UV detector. What happened?
                                </a>
                            </h3>
                        </div>
                        <div id="faq-collapse-22" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-heading-22">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <br>
                                    <h4>How to fix this issue</h4>
                                    <p>One cause of air bubbles in the HPLC system is air pushed through the sample loop. This can happen if the sample loop is dry before the injection. To keep the sample loops full of mobile phase, navigate to the Standalone screen. Turn the HPLC pump on and let it pump 10 ml total. Then change the injection valve position (e.g. from #2 to #1) and wait for another 10 ml of mobile phase to flow through. This fills both loops entirely with mobile phase. However, there will usually be air in front of the sample due to the dead volume in the tubing connecting the cassette. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- Faq  23 -->

                    <div class="panel panel-default col-sm-12">
                        <div class="panel-heading software-panel-heading" role="tab" id="faq-heading23">
                            <h3> 
                                <a role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#faq-collapse-23" aria-expanded="false" aria-controls="faq-collapse-23" class="collapsed">
                                23) PURE/FORM - The pressure shown by my HPLC pump is much lower than expected (e.g. 0 psi instead of 3,000 psi). What could be happening?
                                </a>
                            </h3>
                        </div>
                        <div id="faq-collapse-23" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-heading-23">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <br>
                                    <h4>How to fix this issue</h4>
                                    <p>This is often because there is a leak in the high pressure portion of the Purification sub-system. This is all systems downstream of the HPLC pump and upstream of the HPLC column: tubing out of the HPLC pump, tubing into injection valve, fittings on the injection valve, tubing into the column selector, fittings on the column selector, and fittings into the HPLC column (and/or guard column). Identifying leaks early is critical! They are almost always easily observed by a sharp decrease of HPLC pump pressure. Always keep an eye on the pressure, note when it seems out of the expected range, and be ready to identify leaks quickly. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- Videos sub tab -->
        <div id="videos" class="tab-pane">
            <div class="col-sm-12" id="support-videos">
                <div class="video-block software-card col-sm-12">
                    <div class="col-sm-12 text-center">
                       
                            <h3><u>Basics</u></h3>
                       
                    </div>
                    <div class="col-sm-5 text-center video-block">
                        <iframe height="205" src="https://www.youtube.com/embed/sAC_pcHyHaE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <h4>ELIXYS Visual Dictionary</h4>
                        <p>This video highlights both the terminology used by SOFIE to describe the ELIXYS platform as well as the physical locations and properties of relevant components on the FLEX/CHEM and PURE/FORM.</p>
                    </div>
                    <div class="col-sm-5 col-sm-offset-2 text-center video-block">
                        <iframe height="205" src="https://www.youtube.com/embed/o4zKdEnNSMo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <h4>Common Issues</h4>
                        <p>Not all issues cause a software error. This video addresses some common issues which fall into this category. Proper care and attention to these issues will improve your ELIXYS experience. </p>
                    </div>
                </div>
                <div class="video-block software-card col-sm-12">
                    <div class="col-sm-12 text-center">

                            <h3><u>Common Errors</u></h3>
                            <br>
                            <p>These videos highlight the most common errors encountered when using the ELIXYS platform based on actual customer usage. Each video explains what causes the software to display the error message, the most typical root causes of the error, and potential solutions to prevent these errors from happening in the future.</p>
                            <br>
                    </div>
                    <div class="col-sm-5 text-center video-block">
                        <iframe height="205" src="https://www.youtube.com/embed/gwCvC56vZOA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <h4>Common Errors – Crushed Dip Tube</h4>
                    </div>
                    <div class="col-sm-5 col-sm-offset-2 text-center video-block">
                        <iframe height="205" src="https://www.youtube.com/embed/N42xx6ns8Dw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <h4>Common Errors – Software not Loading </h4>
                    </div>
                    <div class="col-sm-5 text-center video-block">
                        <iframe height="205" src="https://www.youtube.com/embed/Rgbt3XTS9PY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <h4>Common Errors – Close Gripper</h4>
                    </div>
                    <div class="col-sm-5 col-sm-offset-2 text-center video-block">
                        <iframe height="205" src="https://www.youtube.com/embed/_YlZ6doERNs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <h4>Common Errors – Lift Reactor</h4>
                    </div>
                    <div class="col-sm-5 text-center video-block">
                        <iframe height="205" src="https://www.youtube.com/embed/YWFpUnHhb1Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <h4> Common Errors – Lower Gripper</h4>
                    </div>
                    <div class="col-sm-5 col-sm-offset-2 text-center video-block">
                        <iframe height="205" src="https://www.youtube.com/embed/NBWhptY5Bok" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <h4> Common Errors – Set Regulator</h4>
                    </div>
                </div>
                
                <div class="video-block software-card col-sm-12">
                    <div class="col-sm-12 text-center">
                            <h3><u>Maintenance</u></h3>
                            <br>
                            <p>In addition to highlighting the benefits of periodically cleaning the ELIXYS instruments, we highlight places and items to check on a regular basis to ensure smooth operation of your system. Good practice habits are also included for users to follow to prevent extended downtime of their instrument. </p>
                            <br>
                    </div>

                    <div class="col-sm-5 text-center video-block">
                        <iframe height="205" src="https://www.youtube.com/embed/HvoormkDyHk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <h4>FLEX/CHEM Maintenance</h4>
                    </div>
                    <div class="col-sm-5 col-sm-offset-2 text-center video-block">
                        <iframe height="205" src="https://www.youtube.com/embed/EX31giuKk7Q" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <h4>PURE/FORM Maintenance</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>