html{
	height: 100%;
	width: 100%;
}

body{
/*	font-family: 'Nunito Sans', sans-serif;
	font-family: 'Nunito', sans-serif;*/
	width:100%;
	height: 100%;
}
/* General */

.card{
  border-radius: 1px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2.homepage-headings{
  margin-bottom: 50px;
}

.grey-bg {
  background: #FAFAFA;
}

.fa-info-circle {
  color: #4A90E2;
}

.featured-probe-card{
  height: 245px;
  margin-top: 15px;
}

#support-request-form{
  margin-top: 100px;
}

/* --- Navbar --- */
/*.navbar{
	padding: 10px 0;
}*/

.navbar-container {
	padding-right: 50px;
  padding-left: 50px;
}

#spn-logo {
  width: 90px;
  height: 27px;
  font-size: 20px;
  font-weight: 900;
  font-family: Nunito;
  text-align: left;
  color: #676767 !important;
  color: var(--brownish-grey-two);
}


.navbar .link-text{
  font-size: 14px;
  letter-spacing: 0.3px;
  font-family: 'Nunito Sans';
  font-weight: 300;
  text-align: left;
  color: #212121;
  text-transform: uppercase;
  background: #fff;
  cursor: pointer;
}

/* ---- Hero banners --- */
div#hero-banner{
	height: 50%;
/*	border: solid 1px #f8f8f8;
  display: flex;
  justify-content: center;
  flex-direction: column;*/
}

div#hero-banner{
	background: url('../img/homepage_bg.png') no-repeat center;
	background-size: cover;
  /*padding-top: 10%;
  padding-bottom: 10%;
  background-position: 10% 80%;*/
  padding-top: 13%;
    padding-bottom: 33%;
    background-position: 17% 1%;
}

div#hero-banner h1.hero-banner {
  /*font-family: 'Nunito Sans';*/
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1.2px;
  text-align: center;
  color: #212121;
  transform: translateY(-50%);
  line-height: 1.5;
}

/* Icons row section */
div#description-container{  
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding:100px 0;
  background: #fff;
}
div#description-container img{
  height: 150px;
  width: auto;
}

h6.about-spn-text {
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
}

/* Featured items / baner section ( section 3) */

div#featured-container{
  padding: 150px 0;
}

/* popular probes */
#probe-count-link{
  margin-top: 100px;
  font-size: 24px;
  text-decoration: underline;
  font-family: 'Nunito Sans';
}

div#probes-link-div {
    margin-top: 100px;
}

div#popular-probes-container {
    padding: 100px 0;
}

#probe-count  {
  font-family: 'Nunito Sans';
  font-size: 28px;
  font-weight: bold;
  line-height: 0.86;
  text-align: left;
  color: #4a90e2;
}

/* YOUTUBE video section */
#about-elixys{
  padding: 100px 0;
}

.embed-responsive .embed-responsive-16by9{

}

.about-elixys-columns{
  margin-top: 50px;
}

.about-elixys-columns a{
  color: #4c99ff;
}

#organization-page{
  margin-top: 10px;
}

/* contact section */

#contact-form{
  padding: 100px 0;
}

#address-card{
  margin-top: 20px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}


.thirty-four{
  margin-top: 34.66px;
}

#submit-button{
  margin-top: 19.66px;
}

/* Footer */

#footer{
  padding: 30px 0;
  margin-top: 30px;
}

ul#footer-links li{
  line-height: 35px;
}

ul#footer-links a{
  color: #212121;
}

img#hero-sofie-logo {
    /*height: 10%;*/
    padding-bottom: 10px;
    margin-bottom: 70px;
}

#footer-sofie-logo{
  height: 50px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#probes-link-div a{
  font-size: 1.4em;
}

/* Maps page*/
.left-info-pane {
    overflow-y: scroll;
    height: calc(100% - 65px);
}

#maps-page, #map-row{
  overflow-y: hidden;
}
#map-row{
  height: 100%;
}
#map{
  border-radius: 3px;
}
.probe-card{
  border-radius: 1px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}

#go-to-contact-btn{
  margin-top: 25px;
}

.probe-card-short{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  margin-top: 15px;
}

.probe-card-content{
  padding: 15px 15px 15px 25px;
  cursor: pointer;
}

.probe-card-content img{
  height: 150px;
  width: auto;
}

#site-main-card{
  padding: 30px 10px;
}

div.mapboxgl-ctrl-bottom-left{
  display: none;
}

div.map-legend{
    margin-top: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

div.map-legend img{
  height: 30px;
  display: unset;
}

.popular-probes-inner-content img, .featured-images img{
  width: 300px;
  height: auto;
}
#probes-offered-by-site h4{
  margin-top: 20px;
}

div.map-body, #map{
  height: calc(100% - 165px);
  overflow-y: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 1px 1px 1px 1px #e6e6e6;
}

.input-btn-right button{
  border-radius: 0 4px 4px 0;
}

.input-btn-left button{
  border-radius: 4px 0 0 4px;
}

div.search-results{
  margin-top: 30px;
}

.ui-widget button {
    font-size: 14px !important;
}

/* Styling the autocomplete drop down in maps page */
ul.ui-widget li.ui-menu-item {
  height: 40px;
}

li.ui-menu-item a.ui-menu-item-wrapper{
  height: 100%;
}

div.probe-results-div{
  border-bottom: 1px solid #CAD2D3;
}

#left-info-pane{
  overflow-y: scroll;
  border: 1px solid #dedede;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: 10px;
  width: 31%;
}

button#reset-map-button {
    position: absolute;
    top: 35px;
    z-index: 100;
    right: 81px;
}

h3#availability-number {
    background: #eaea77;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding-top: 40px;
    transform: translateX(-50%);
    margin-left: 50%;
}

#contact-form iframe{
  width: 100%;
}

.homepage-rows{
  padding: 100px 0 100px 0;
}


#homepage-container .carousel{
  padding: 100px 0 100px 0;
}
/* Responsive */

/* Phones */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  
  
  div#hero-banner h1.hero-banner{
    transform: none !important;
  }

  h6.about-spn-text {
    width: 100%; 
    margin-left: 0;
    transform: none; 
    margin-top: 100px;
  }

  #contact-form-group{
    margin-top: 125px;
  }
}
/* additional overrides */

button.dropdown-toggle.bs-placeholder{
  padding: 1rem!important;
}
.bootstrap-select .dropdown-toggle .filter-option{
  top: -8px !important;
}
/* Tablets */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .featured-images img{
      margin-left: 50%;
      transform: translateX(-50%);
    }

    .available-at{
      display: none;
    }
}

/* Custom responsive */

@media (min-device-width: 834px) {

    div.embed-responsive{
      /*padding-bottom: 315px !important;*/
      max-width: 500px !important;
    }
  }





@media (min-device-width: 1120px) {

    #popular-probes-container img{
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }


@media (max-width: 1120px){
  div.available-at{
      display: none;
    }
}