/* Landing page */
nav.navbar img{
	max-width: 37%;
}

/* Login page */
#sign-in-box{
	margin-top: 100px;
    margin-bottom: 100px;
}

.form-signin {
   	width: 100%;
    /*max-width: 400px;*/
    padding: 38px;
    margin: auto;
    background: #f9fbfc;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    margin-top: 30%;
    /*transform: translateY(-50%);*/
}

.login-page {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 80%;
}

/* Dashboard */

.avatar {
    width: 38px;
    height: 38px;
    border-radius: 50px;
    outline: none;
    float: right;
    cursor: pointer;
    /* margin-top: -25px; */
    /*margin-right: 0.28571em;*/
    margin-left: 1em; 
}

#avatar-button img{
	max-width: unset;
}

.column-count-2{
    column-count: 2 !important;
}

div.sidebar-padding{
    margin-top: 48px;
}
div#newest-sequences, div#dashboard-quick-links {
    margin-top: 48px;
}