/* Create org
--------------------------------------------- */

.m-popup.create-org {
	width: 600px;
	height: 800px;
	margin: -350px 0 0 -300px;	
}

.m-popup.create-user {
	width: 600px;
	height: 800px;
	margin: -350px 0 0 -300px;	
}
