<script type="text/html" id="Consumables_Kit_template">
    <div class="product-image">
        <img data-bind="attr:{src: '/static/img/products/' + family.productFamily + '.png'}"
             class="product-image__hero"/>
         
         <div class="product-thumb">
             <span class="breakdown__letter breakdown__letter--thumb">A</span>
             <img src="/static/img/products/kit-thumb-a.png" height="115" width="115" />
         </div>

         <div class="product-thumb">
             <span class="breakdown__letter breakdown__letter--thumb">B</span>
             <img src="/static/img/products/kit-thumb-b.png" height="115" width="115" />
         </div>

         <div class="product-thumb">
             <span class="breakdown__letter breakdown__letter--thumb">C</span>
             <img src="/static/img/products/kit-thumb-c.png" height="115" width="115" />
         </div>

         <div class="product-thumb">
             <span class="breakdown__letter breakdown__letter--thumb">D</span>
             <img src="/static/img/products/kit-thumb-d.png" height="115" width="115" />
         </div>

         <div class="product-thumb">
             <span class="breakdown__letter breakdown__letter--thumb">E</span>
             <img src="/static/img/products/kit-thumb-e.png" height="115" width="115" />
         </div>

         <div class="product-thumb">
             <span class="breakdown__letter breakdown__letter--thumb">F</span>
             <img src="/static/img/products/kit-thumb-f.png" height="115" width="115" />
         </div>

         <div class="product-thumb product-thumb--wide">
             <span class="breakdown__letter breakdown__letter--thumb">G</span>
             <img src="/static/img/products/kit-thumb-g.png" height="115" width="230" />
         </div>
    </div>
</script>