<!-- DOCTYPE html -->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Sofie Probe Network</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'header_dependencies.html'%}
        {% include 'footer_dependencies.html'%}
    </head>
    <body class="bg-light">
        {% block title_bar %}
            {% if runninguser is defined %}
                {% with userid = uid %}
                {% include 'logged_in_navbar.html' %}
                {% endwith %}
            {% endif %}
        {% endblock %}   	

		{% if runninguser is defined %}
        <div class="col-12" id="home-wrapper">
            {% block content_body %}
            {% endblock %}
        </div>
        {% else %}
        <div>
			{% include 'login_navigation_bar.html' %}
			{% block login_content_body %}
			{% endblock %}
        </div>
        {% endif %}
        
		<!-- Footer -->
        <div id="spn-sub-section">
            <div class="spn-page-container">
                {% block subsection %}
                {% endblock %}
            </div>
        </div>
        <div class="l-footer grey-bg" id="footer">
            {% block footer %}
			<div class="container-fluid row">
				<div class="col-3 text-left offset-1">
					<ul class="list-unstyled" id="footer-links">
						<li>                    
							<section data-bind="if: runningUser">
	                        	<a href="/user/privacy_policy">Privacy Policy</a>
	                    	</section>
	                	</li>
						<li> <a href="https://sofie.com/radiochemistry/" target="_blank">About ELIXYS</a> </li>
						<li> <a href="https://sofie.com/about" target="_blank">About SOFIE</a> </li>					
                        <li> <a href="https://sofie.com/" target="_blank">SOFIE.com</a> </li>
					</ul>
				</div>
				<div class="col-3 offset-4 text-right">
                    <img src="http://res.cloudinary.com/sofie/image/upload/v1517436571/7B3928ED-F550-4C5D-A6C4-2DE59C048360_2x_sovvin.png" alt="" id="footer-sofie-logo">
                    <br>
					<p>© 2017 Sofie</p>
				</div>
			</div>
            {% endblock %}
        </div>
        <!-- script to add active class on navbar click -->
        <!-- application confirmation -->
        <script>
            $(function () {
              $('[data-toggle="popover"]').popover({
                container: 'body'
              })
            });
            $('a[href*="#"]').on('click', function (e) {
                e.preventDefault();

                $('html, body').animate({
                    scrollTop: $($(this).attr('href')).offset().top
                }, 500, 'linear');
            });
        </script>
    </body>
</html>