{% extends "application.html" %}
{% block login_content_body %}
<script src="/static/js/map.js"></script>
<script src="/static/js/user_login_model.js"></script>
<script>
    var accountLocations = JSON.parse({{sequence_data|tojson|safe}}) //account location
    var loginModel = new UserLoginModel(accountLocations);
    console.log(accountLocations)
    var probeinformation = loginModel.set_number_probelist(JSON.parse({{probe_data|tojson|safe}})); //Original List with updated the number of probes each site has
    console.log(probeinformation)
    $(function(){
        search();
    });
</script>
<div class="container-fluid">
	<div class="row">
        <!-- Left information card pane -->
        <div class="col-md-4 left-info-pane">
            <div class="input-group ui-widget">
                <span class="input-group-btn input-btn-left">
                    <a href="javascript:history.back()"><button class="btn btn-default" type="button"><i class="fa fa-arrow-left" aria-hidden="true"></i> BACK</button></a>
                </span>
                <input type="text" class="form-control" placeholder="Search for a site, probe, or location" id="probe-search1">
                <span class="input-group-btn input-btn-right">
                    <button class="btn btn-default" type="button" onclick="search()"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
            </div>
            <div class="probe-default-headline">
                <h3>Probes</h3>
                <div class="info">
                    <p><i class="fa fa-info-circle" aria-hidden="true"></i> Tap on a card to see sites with that probe</p>
                </div>
            </div>
            
            <div class="search-results" id=search-list>

            </div>
        </div>
        <!-- right map pane -->
        <div id='map' class="col-md-8"></div>
        <script src="https://use.fontawesome.com/f5e7e74cb3.js"></script>
        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtkp_xUuraQVIDR0-kOvgNmp60DXMqeig&callback=loginModel.initMap" type="text/javascript"></script>
      </div>
</div>
<script>
var searchList = document.getElementById("search-list")

function search(){
    var user_insert = document.getElementById("probe-search1").value
    searchList.innerHTML = ""
    console.log(user_insert)
    if(user_insert == '') {
        //going to initial state, when the page is first load
        //probeformation is initial list for probes!
        probeinformation.forEach(searchedList)
    }else{
        //use  
        find_probe(user_insert)
    }

    
}
function searchedList(item, index) {
    searchName = "'" + item.searchName +"'"
    searchFunction = '<a onclick="click_searched_probe('+ searchName +')">'
    searchList.innerHTML = searchList.innerHTML +
                            searchFunction +
                                '<div class="probe-card featured-probe-card">' +
                                    '<div class="probe-card-content col-sm-6">' +
                                        '<h6 class="text-left">'+ item.Name  +'</h6>' +
                                        '<h6 class="text-left">'+ item.number  +'</h6>' +
                                        '<img src="'+item.url+'" class="img-responsive" alt="">' +
                                    '</div>' +
                                '</div>' +
                            '</a>';
}
//searchedList for the site -> TODO


function find_probe(keyword) {
    $.ajax({
        url : '/probe/hint/' + keyword,
        type : 'GET',
        success : function(res) {
            console.log("search result");
            console.log(res)
            if(res.length == 0) {
                //inform user that there is no probe
                console.log("no result")
                searchList.innerHTML = ""
                searchList.innerHTML = searchList.innerHTML + '<div>' + 'No result' + '</div>'

            }else{
                searched_result = []
                for(var i = 0; i < res.length; i++) {
                    for(var j = 0; j < probeinformation.length; j++) {
                        if(res[i].searchName == probeinformation[j].searchName) {
                            searched_result.push(probeinformation[j])
                            break;
                        }
                    }
                }
                console.log(searched_result)
                searched_result.forEach(searchedList)        
            }
            // update probeinformation array to array with only probe which user searached for
        },
        error : function(request,error)
        {
            alert("Request: "+JSON.stringify(request));
        }
    });
}

function click_searched_probe(probe_name) {
    //update map on the right
    var sites = loginModel.selectLocationByProbe(probe_name)
    //update searched list on the left
    //probe information and site information needed
    console.log(sites)
    var probe = null
    for(var i = 0; i < probeinformation.length; i++) {
        if(probe_name == probeinformation[i].searchName) {
            probe = probeinformation[i];
            break;            
        }
    }
    //update the probe uppper part
    searchList.innerHTML = "" 
    searchList.innerHTML = searchList.innerHTML +
                            '<a>' +
                                '<div class="probe-card featured-probe-card">' +
                                    '<div class="probe-card-content col-sm-6">' +
                                        '<h6 class="text-left">'+ probe.Name  +'</h6>' +
                                       /*'<h6 class="text-left">'+ item.number  +'</h6>' +*/
                                        '<img src="'+probe.url+'" class="img-responsive" alt="">' +
                                    '</div>' +
                                '</div>' +
                            '</a>' +
                            '<div>'+ 'Site With ' + probe.Name +'</div>';
    //update bottom parts for the sites with the probe
    for(var i = 0; i < sites.length; i++) {
        searchList.innerHTML = searchList.innerHTML + 
                            '<a>' +
                            '<div>' + sites[i].name + '</div>' +
                            '</a>';
    }



}

</script>
{% endblock %}