{% extends "application.html" %}
{% block login_content_body %}

<div class="container-fluid">
	<div class="row">
        <!-- Left information card pane -->
        <div class="col-md-4 left-info-pane">
            <div class="input-group ui-widget">
                <span class="input-group-btn input-btn-left">
                    <a href="javascript:history.back()"><button class="btn btn-default" type="button"><i class="fa fa-arrow-left" aria-hidden="true"></i> BACK</button></a>
                </span>
                <input type="text" class="form-control" placeholder="Search for a site, probe, or location" id="probe-search">
                <span class="input-group-btn input-btn-right">
                    <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
            </div>
            <div class="probe-default-headline">
                <h3>Probes</h3>
                <div class="info">
                    <p><i class="fa fa-info-circle" aria-hidden="true"></i> Tap on a card to see sites with that probe</p>
                </div>
            </div>
            
            <div class="search-results">
                <a href="">
                    <div class="probe-card featured-probe-card">
                        <div class="probe-card-content col-sm-6">
                            <h6 class="text-left">Fallypride</h6>
                            <img src="img/fallypride.png" class="img-responsive" alt="">
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="probe-card featured-probe-card">
                        <div class="probe-card-content col-sm-6">
                            <h6 class="text-left">Fallypride</h6>
                            <img src="img/fallypride.png" class="img-responsive" alt="">
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="probe-card featured-probe-card">
                        <div class="probe-card-content col-sm-6">
                            <h6 class="text-left">Fallypride</h6>
                            <img src="img/fallypride.png" class="img-responsive" alt="">
                        </div>
                    </div>
                </a>
                <a href="">
                    <div class="probe-card featured-probe-card">
                        <div class="probe-card-content col-sm-6">
                            <h6 class="text-left">Fallypride</h6>
                            <img src="img/fallypride.png" class="img-responsive" alt="">
                        </div>
                    </div>
                </a>
      
            </div>
        </div>

        <!-- right map pane -->
        <div id='map' class="col-md-8"></div>
      </div>
</div>
{% endblock %}