<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7299072/6859952/css/fonts.css" />
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600i,900|Nunito:300,400,600,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/normalize.css')}}"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/custom.css')}}"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
{% block head %}
    <script src="https://use.typekit.net/kyt1kmk.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

{% endblock %}