<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <a class="navbar-brand" href="/"><img src="/static/img/spn-logo-top.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        
  <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarNav">
    <ul class="navbar-nav ml-auto flex-nowrap">
      <li {% if request.path == "/dashboard" %}   class="nav-item active" {% else %} class="nav-item" {% endif %} >
        <a class="nav-link" href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      {% if runninguser.RoleID == 2 %}   
      <li class="nav-item">
        <a class="nav-link" href="/user/admin">Admin</a>
      </li>
      {% endif %}
      <li {% if "/support" in request.path  %}   class="nav-item active dropdown" {% else %} class="nav-item dropdown" {% endif %}">
        <a class="nav-link dropdown-toggle" href="/support/field_support" id="navbarSupportDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Support
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarSupportDropdown">
          <a class="dropdown-item" href="/support/field_support">Field Support</a>
          <a class="dropdown-item" href="/support/documentation">Documentation</a>
          <a class="dropdown-item" href="/support/software">Software</a>
          <a class="dropdown-item" href="/support/faq">FAQ & Videos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Create Support Request</a>
        </div>
      </li>
      <li {% if "/probe/" in request.path  %}   class="nav-item active dropdown" {% else %} class="nav-item dropdown" {% endif %}">
        <a class="nav-link dropdown-toggle" href=/probe" id="navbarProbeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Probes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarProbeDropdown">
          <a class="dropdown-item" href="/probe">All probes</a>
          <a class="dropdown-item" href="/probe/new">Create new probe</a>
        </div>
      </li>
      <li class="nav-item border-right">
        <a class="nav-link" href="/account/">Organizations</a>
      </li>
      <li class="nav-item dropdown" id='avatar-button'>
        <a href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div tabindex="1" class="avatar">
                    <img class="avatar" data-bind="attr:{src: '/user/' + runninguser.UserID + '/avatar'}" src="/user/{{ runninguser.UserID }}/avatar">
                </div>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">My Profile</a>
          <a class="dropdown-item" href="#">My Organization</a>
          <a class="dropdown-item" href="/user/logout">Logout</a>
        </div>
      </li>
 
    </ul>
  </div>
</nav>
