<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <a class="navbar-brand" href="/"><img src="/static/img/spn-logo-top.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-grow-1 text-righ" id="navbarNav">
    <ul class="navbar-nav ml-auto flex-nowrap">
      <li class="nav-item">
        <a class="nav-link" href="https://sofie.com/radiochemistry/" target="_blank">About Elixys <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/find_a_probe">Find a Probe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#featured">Featured</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-primary" href="/login">Sign In</a>
      </li>
    </ul>
  </div>
</nav>




<!-- Static navbar end -->
<!-- begin login popup -->
<!-- <div data-bind="with: userLoginPopup">
    <div class="l-popup-overlay" style="display:none;" data-bind="visible: visible">
        <div class="m-popup login-popup" style="display:none;" data-bind="visible: visible">
            <div class="m-popup-box">
                <div data-bind="css: {'savingBlockUI savingBlockUI--popup': submitting,
                                      'savingBlockHidden': !submitting()}">
                    <div class="blockUIText"></div>
                </div>
                <div data-bind="click: close" class="m-close-button">X</div>

                <div class="m-login-header">SPN Login</div>
                <div data-bind="visible: !displayForgotPassword()">
                    <div class="m-login-form" data-bind="event: {'keypress': submitOnEnter}">
                        <span class="validation-error" data-bind="text: error"></span>

                        <span for="username" class="login-label"></span>
                        <input type="text" data-bind="textInput: username" class="form-control m-login-input" placeholder="Username" aria-describedby="sizing-addon2" name="username"></input>

                        <span for="password" class="login-label"></span>
                        <input type="password" data-bind="textInput: password" class="form-control m-login-input ten-top" placeholder="Password" aria-describedby="sizing-addon2" name="password"></input>
                    
                        <div class="m-join-now">
                            <a data-bind="click: forgotPassword">Forgot my password</a>
                        </div>
                        
                        <a class="btn-blue btn-blue--login" data-bind="click: login">Login</a>
                    </div>
                </div>

                <div class="m-login-form" data-bind="visible: displayForgotPassword" style="display: none;">

                    <a data-bind="click: forgotPassword" class="btn-blue btn-blue--login">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- end login popup -->
