<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>SPN Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		{% include 'header_dependencies.html'%}
    </head>
    <body>
    	{% include 'login_navigation_bar.html' %}
    	
			{% block content_body %}
	    	{% endblock %}

        {% include 'footer_dependencies.html'%}
    </body>
</html>