{% extends "login_layout.html" %}
{% block content_body %}
<div class="container">
    <div class="row w-100">
        <div class="col-6 offset-3 align-self-center">
            <form class="form-signin" action="/user/forgot_password" method="POST">
                <h1 class="h3 mb-3 font-weight-normal text-center">Password reset</h1>
                <p><i class="fas fa-info-circle"></i> A password reset link will be sent to your email id</p>
                <label for="inputEmail" class="sr-only">Username</label>
                <input type="text" id="inputEmail" class="form-control mb-3" placeholder="Enter your username" required="" autofocus="" name="username">
                <button class="btn btn-lg btn-primary btn-block mt-3R" type="submit">Reset password</button>
            </form>
        </div>
    </div>
</div>
{%endblock%}