<form class="m-login-form" action="/user/forgot_password/" method="post" enctype=multipart/form-data>
    <input type="text" class="form-control m-login-input" placeholder="Username" aria-describedby="sizing-addon2" name="username"/>

    <label for="reset-password-button" style="display: block;">
        <a class="btn-blue btn-blue--login">Reset</a>
    </label>

    <input id="reset-password-button" style="display: none;" class="btn btn-default login-btn" type="submit" value="Reset Password">
</form>
