{% extends "login_layout.html" %}
{% block content_body %}
<div class="container">
    <div class="row w-100">
        <div class="col-6 offset-3 align-self-center">
            <form class="form-signin" action="/user/login" method="POST">
                <h1 class="h3 mb-3 font-weight-normal text-center">SPN Login</h1>
                <label for="inputEmail" class="sr-only">Username</label>
                <input type="text" id="inputEmail" class="form-control mb-3" placeholder="Username" required="" autofocus="" name="username">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control mb-3" placeholder="Password" required="" name="password">
                <div class="checkbox mb-3">
                    <a href="/forgot_password">Forgot Password?</a>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
        <div class="col-6 offset-3">
            <div class="alert alert-secondary text-center mt-3" role="alert">
                <i class="fas fa-info-circle"></i> New Users 
                <br>
                <a href="mailto:elixys.support@sofie.com">Send us an email</a> <b>to Sign Up</b>
            </div>
        </div>
    </div>


</div>
{%endblock%}